# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Output
# ==========================
output/

# ==========================
# Data (不要把几百GB数据提交)
# ==========================
data/

# ==========================
# Models
# ==========================
models/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
