# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
.env

# Editors
*.swp
*.swo
.vscode/
.idea/

# Logs
logs/
*.log
output/

# Temporary
*.tmp
*.bak

# Python cache
.pytest_cache/
.mypy_cache/

data/
models/
outputs/

# temporary scripts
scripts/*.v1
scripts/*.v2

# local test data
tests/test_phenotype.csv
